.custom-card{
  width:100%;
  max-width:250px;
}

.custom-card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius: 20px;
}
.footer{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.second-footer{
  padding: 30px;
  text-align: center;
  font-weight: 10px;
  background-color: rgb(240, 240, 245);;
}
.button{
  text-align: center;
  padding: 30px;
  background-color: rgb(235, 177, 122);
  margin:20px 20px 20px 20px;
}
.button,button{
  color: black;
  font-weight: 20px;
  border: none;
}
.name{
 text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;

}
.cuisines{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.custom-input{
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 30px;
}
.shimmerline{
  height: 10px;
  background-color: rgb(207, 207, 207);
}
.shimmer-img{
  height: 200px;
  width: 100%;
  background-color: rgb(199, 197, 197);
}